$gap: 30px;

$tablet: 1120px;
$celular: 770px;

@mixin responsivo($device) {
  @if ($device == celular) {
    @media only screen and (max-width: $celular) {
      @content;
    }
  } @else if ($device == tablet) {
    @media only screen and (max-width: $tablet) {
      @content;
    }
  }
}

@mixin grid {
  display: grid;

  grid-template-columns: 200px minmax(auto, 800px);
  grid-gap: $gap;
}

.grid-ligas {
  @include grid();
}

@mixin grid-campeonatos {
  display: grid;
  grid-template-columns: minmax(auto, 700px) auto;
  grid-gap: $gap;
}

.grid-campeonatos {
  @include grid-campeonatos();
}

@mixin grid-tabela {
  display: grid;
  grid-gap: $gap;
  grid-template-columns: 100px 600px;
  @include responsivo(tablet) {
    grid-template-columns: 100px 400px;
  }
  @include responsivo(celular) {
    grid-template-columns: 100px 300px;
  }
}

.grid-campeonato {
  @include grid-tabela();
}
