.ligas {
  margin: 60px auto;
}

.liga {
  grid-column: 2;

  @include responsivo(celular) {
    grid-column: 1 / -1;
  }
}

// terá uma seta que irá indicar se o conteúdo
// está aberto ou fechado
.liga h1 {
  @include tamanho(grande);
  margin-bottom: 20px;

  &::after {
    @include arrow(close);
  }

  @include responsivo(celular) {
    margin-left: 10px;
  }
}

.liga.ativo h1 {
  &::after {
    @include arrow(open);
  }
}

.liga-descricao {
  display: none;
}

.liga-descricao.ativo {
  display: block;
}

.liga p {
  margin-left: 20px;
  @include tamanho(pequeno);
}

.liga p + p {
  margin-top: 20px;
}

.fonte {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fonte p {
  font-size: 1rem;
}

.fonte cite {
  @include tamanho(citacao);
  color: $cor-escura;
  margin-left: 25px;

  a {
    color: $cor-menu;
  }

  @include responsivo(celular) {
    span {
      margin-left: 25px;
    }
  }
}
