.rodape {
  padding: 20px 60px;
  background-color: $cor-menu;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include responsivo(celular) {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
}

.rodape p {
  font-family: $fonte-principal;
  font-size: 1.7rem;
  color: $cor-texto-menu;

  @include responsivo(celular) {
    margin-bottom: 10px;
  }
}
