.rodadas {
  grid-column: 2;
  justify-self: center;

  @include responsivo(tablet) {
    grid-column: 1 / -1;
    justify-self: left;
  }
}

.rodadas h1 {
  grid-column: 1 / -1;
  @include tamanho(grande);

  @include responsivo(tablet) {
    font-size: 2rem;
  }
}
